Source: backend-ircbot
Section: java
Priority: extra
Maintainer: Michael Prokop <github@michael-prokop.at>
Build-Depends: debhelper (>= 5), openjdk-6-jdk, maven2
Standards-Version: 3.9.3
Homepage: https://github.com/jenkinsci/backend-ircbot

Package: backend-ircbot
Architecture: all
Depends: default-jre-headless | openjdk-6-jre-headless,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Jenkins IRCbot
 This package provides the Jenkins IRCbot for
 usage on jenkins-ci.org infrastructure.
