#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

JAVA_HOME := /usr/lib/jvm/default-java

build: build-arch build-indep
build-arch: build-stamp
build-indep: build-stamp

build-stamp:
	dh_testdir
	mvn install
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	dh_clean
	rm -f build-stamp
	rm -rf debian/backend-ircbot/
	rm -rf target/

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs usr/share/ircbot/ usr/bin
	cp -a target/ircbot-*-*-bin/* debian/backend-ircbot/usr/share/ircbot/
	printf "#!/bin/sh\njava -jar /usr/share/ircbot/ircbot-*.jar \"\$$@\"\n" > debian/backend-ircbot/usr/bin/ircbot

# Build architecture-dependent files here.
binary-arch: build install
# We have nothing to do by default.

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installman
	dh_compress
	mkdir -p debian/backend-ircbot/usr/share/lintian/overrides/
	cp -av debian/overrides debian/backend-ircbot/usr/share/lintian/overrides/backend-ircbot
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
